/* body => h1, im, p, ul => .special(클래스) => a : 일단 => 구체 순서 */
h1 {color: red;}
p {color: green;}
.special {color: orange;}
li em {color:deeppink;}
#test {color: aqua;}    
li {color:brown;}    /* id가 있는 요소의 스타일 수정시 id를 최우선으로 설정*/