.box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hotpink;
    color: white;
    border-radius: 30px;
    transition: transform 0.6s ease; /* 기본값 */
    padding: 5%;
    margin: 3%;
}

.box:hover {
    transform: rotate(-60deg) scale(2);
}

/* 각 박스의 timing-function만 다르게 */
.box-ease { transition-timing-function: ease; }
.box-linear { transition-timing-function: linear; }
.box-ease-in { transition-timing-function: ease-in; }
.box-ease-out { transition-timing-function: ease-out; }
.box-ease-in-out { transition-timing-function: ease-in-out; }
